@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    background: aqua;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.welcome-quiz {
    width: 30%;
}

input,
.quiz-form button {
    display: block;
    width: 100%;
    font-style: italic;
    background: transparent;
}

input {
    margin-bottom: 5%;
    padding: 4% 0;
    font-size: 125%;
    text-align: center;

}

.quiz-form button {
    padding: 5%;
    font-family: 'Abhaya', sans-serif;
    font-weight: bold;
    font-size: 115%;
    box-shadow: 1px -1px 30px 2px yellow;
    border: none;
    transition: transform .2s;
}

.quiz-form button:hover {
    box-shadow: 1px -1px 30px 2px green;
    transform: scale(1.2);
    font-size: 140%;
}

/*style for quiz.html page*/

.game {
    width: 90vw;
    height: 70vh;
    display: grid;
    grid-template-rows: 10% auto;

}

.game-header {
    background: beige;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-right: 2%;
}

.questions-section {
    background: rgb(162, 162, 7);
}

.questions-section h3 {
    margin: 5% 2%;
}


.quiz-player {
    padding-left: 2%;
    display: flex;
    align-items: center;
}

.response-div {
    display: grid;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 7%;
    height: 15%;
    margin: 5% 8%;

}

.answers {
    background: yellow;
    border-radius: 8px;
    font-weight: 900;
    letter-spacing: 2px;
    height: 90%;
    margin: 10% 7%;
    margin-bottom: 2%;
    border:none;
}
.answers:hover{
    border:2px solid black;
    box-shadow: 1px 2px 10px 2px #fff;
}

.next-question {
    position: relative;
    left: 87%;
    height: 5vh;
    width: 8vw;
    transition: transform .2s;
    border:none;
    border-radius: 8px;
    
}

.next-question:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px 2px green;
    font-weight: bold;
    
}
.active{
    background: greenyellow;
    color:white; 
}